bin/
obj/
.vs/
.idea/
.vscode/
.artifacts/
TestResults/
__pycache__/
*.pyc
*.csproj.user
.gradle
.out
.sonarlint
# Secret stuff
*.secrets.*
*.secret.*
*.local.json
# User settings
*.DotSettings.user
# Helm
requirements.lock
*.tgz
*~
.DS_Store
node_modules/
